.header {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽에 요소 배치 */
  align-items: center; /* 세로로 중앙 정렬 */
  padding: 10px 20px; /* 상하좌우 여백 */
  background-color: #f8f9fa; /* 배경색 */
}

.logo img {
  height: 40px; /* 로고 크기 조정 */
}

.auth-login {
  margin: 10px;
  padding: 10px 20px; /* 버튼 크기 */
  color: gray;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.auth-login:hover {
  text-decoration: underline; /* 밑줄 추가 */
  font-weight: bold; /* 글씨 굵게 */
}
